<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>{% block titolo %}Home{% endblock %}</title>


    <title>Elenco Studenti</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">

          <a class="nav-item nav-link" id="classe" href="/classe">Classe</a>
            <a class="nav-item nav-link" id="regolamento" href="/regolamento">Regolamento</a>
          <a class="nav-item nav-link" id="logout" href="/autenticazione/logout">Logout</a>

          <a class="nav-item nav-link" id="login" href="/autenticazione/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/autenticazione/sign_up">Sign Up</a>

        </div>
      </div>
    </nav>
    <div class="container">
        {% block contenuti_sito %}
        {% endblock %}
    </div>



</body>
</html>
