<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Classifica</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
                filename='css/classe.css')}}">
</head>

<body>
    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>Classifica Classe</h1>
            <div class="export__file">
                <label for="export-file" class="export__file-btn" title="Season Menu"></label>
                <input type="checkbox" id="export-file">
                <div class="export__file-options">
                    <label>Season Menu &nbsp; &#10140;</label>
                    <label for="export-file" id="toPDF">Season 1 </label>
                    <label for="export-file" id="toJSON">Season 2</label>
                    <label for="export-file" id="toCSV">Add Season </label>
                </div>
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> ID</th>
                        <th> Nome e Cognome </th>
                        <th> E-Mail </th>
                        <th> Punti Totali </th>
                        <th> Squadra </th>
                        <th> Punti Squadra </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 1 </td>
                        <td>Esempio</td>
                        <td> s-esempio.alunn@isiskeynes.it </td>
                        <td> 208 </td>
                        <td>
                            <p>Hexabros</p>
                        </td>
                        <td> <strong> 400 </strong></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <script src="{{ url_for('static',
                filename='js/classe.js')}}"></script>

</body>

</html>
