<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Regole</title>
        <!---link dello stylesheet di reset--->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css')}}">
        <!---link del css--->
        <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/regole.css')}}" rel="stylesheet">
        <!---link per i bottoni--->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <!---link per le icone custom--->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet">
        <!---import del font--->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    </head>
    <body>

        <header>
            <a href="https://www.isiskeynes.edu.it/" class="logo"><img src="{{ url_for('static',
                filename='images/logo.png')}}" alt=""></a>


        <ul class="navbarra"> <!---barra navigazione (puoi cambiare anche i nomi)--->
            <li><a href="/">Home</a></li>
          {% if user.is_authenticated%}
          {%if user.admin_user%}
            
            <li><a href="/admin_dashboard">Admin Dashboard</a></li>
          {% else%}
          <li><a href="/classe/{{classe_name}}">Classe {{classe_name}}</a></li>
          {%endif%}
            <li><a href="/logout">Esci dall'account</a></li>
          {%else%}
            <li><a href="/login">Accedi</a></li>
          {%endif%}
              <div class="bx bx-menu" id="menu-icon"></div> <!---icona per il menu da smartphone--->
        </header>
    
 
        
        <main class="container">

            <div>
                <section class="content">
                    <h2>SISTEMA<br>DEI PUNTI</h2>
                </section>
                
                <section class="content">
                    <h4>È possibile guadagnare o perdere punti in diversi modi, alcuni sono:</h4>
                    <ul>
                        <li>Verifiche (x3)</li>
                        <li>Interrogazioni (x2)</li>
                        <li>Project+ (x2)</li>
                        <li>Project (x1)</li>
                    </ul>
                </section>

                <section class="content">
                    <p>Queste metodologie includono anche valutazioni sul registro ed è solo possibile guadagnare punti grazie a esse.
                            Il punteggio è calcolabile moltiplicando il voto ottenuto per il coefficiente presente a fianco ai metodi.</p>
                </section>
    
                <section class="content">
                    <h4>Altri metodi</h4>
                    <ul>
                        <li>Giochi (2)</li>
                        <li>Compiti (1)</li>
                        <li>Interventi (1/-1)</li>
                        <li>Assenze (-1)</li>
                        <li>Assenze strategiche (-2)</li>
                        <li>Note disciplinari (-3)</li>
                    </ul>
                </section>

                <section class="content">
                    <p>I giochi, che verranno descritti dopo, e i compiti portano un guadagno di punti.
                        Al contrario, le assenze, strategiche e non, e le note disciplinari portano a una perdita di punti.
                        Gli interventi invece possono portare a entrambe le cose, in base alla pertinenza degli stessi.
                        Nelle parentesi è segnato il punteggio dato da ogni azione o attività.
                    </p>
                </section>
        
                <section class="content">
                    <h4>Giochi</h4>
                    <ul>
                        <li>Team Work</li>
                        <li>Video Post</li>
                        <li>Debate</li>
                        <li>Black Mirror</li>
                        <li>Catch the bug</li>
                        <li>Multiverse</li>
                    </ul>
                </section>

                <section class="content">
                    <p>Ogni gioco vale due punti. Team Work consiste nella realizzazione di un certo progetto attraverso il lavoro di gruppo, 
                        Video Post invece nella produzione di un video, Debate è un gioco nel quale bisogna ingaggiare un discorso su un certo argomento,
                        Black Mirror uno nel quale si deve produrre un mini episodio di serie tv ispirato all'omonimo show nel quale l'informatica ha preso il
                        controllo dell'umanità o ne ha comunque reso instabile la società, Catch The Bug riguarda l'avvistamento di errori 
                        messi a punto dal professore e infine Multiverse consiste nel riuscire a elencare un argomento fatto in informatica che
                        sia stato proposto anche in un'altra materia, spiegando i motivi per cui si pensa che possa essere correlato.</p>
                </section>

                <section class="content">
                    <h4>Squadre</h4>
                    <p>Ogni classe si divide in un numero variabile di squadre in base al numero degli studenti, che gareggeranno in ogni season, alla fine della quale verranno proclamati
                        i migliori alunni e la squadra migliore. La somma dei punti dei singoli componenti del gruppo ne determina il punteggio.
                        Nella stagione finale per calcolare i punteggi verranno sommati quelli ottenuti nelle altre stagioni.</p>
                </section>
            </div>
            
            <div class="images">
                <section>
                    <img src="{{url_for('static',filename='images/teamwork.png')}}">
                </section>
    
                <section>
                    <img src="{{url_for('static',filename='images/rules.png')}}">
                </section>
    
                <section class="image">
                    <img src="{{url_for('static',filename='images/tests.png')}}">
                </section>
            </div>

        </main>

            <!---import del js--->
            <script src="static/js/home.js"></script>
            <script src="https://unpkg.com/scrollreveal"></script>  

    </body>
</html>