<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Classifica</title>

    <link rel="icon" href="{{ url_for('static',filename='images/logo.png')}}" type="image/icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/info_studente.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="icon" href="{{ url_for('static',filename='images/logo.png')}}" type="image/icon type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<style>
    .form-new-event label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

</style>

<body>
    <div class="boxcrocealta">
        <a href="/classe/{{classe}}">
            <i class="fas fa-times top-right-cross"></i>
        </a>
    </div>    

    <div class="left-popup-bar">
        <div style="display:flex;height:15px;">
            <div style="background:rgb{{ calcola_valore_rgb(studente.squadra) }}; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);" class="circle"></div>
            <h1 style="flex-grow:1;height:15px;font-size:30px;text-align:left; font-weight: 570;">&#160;{{ studente.nominativo }}</h1>
        </div>

        <div>
           <h2 style="width:100%;text-align:left;font-size: 20px;padding-top:1.5em">
                <strong style="font-weight: 510; color: rgb(74, 74, 74);">Email:</strong> {{ studente.email }}
            </h2>
            <div style="display: flex; align-items: center;">
                <h2 style="text-align:left; font-size: 20px;">
                    <strong style="font-weight: 510; color: rgb(74, 74, 74); margin-right: 4px;">Squadra:</strong> {{ studente.squadra }}
                </h2>
                <div class="circle" style="background-size: cover; background-image: url({{ url_for('static', filename='images/loghi/' + loghi.get(studente.squadra, 'default.png'))}}); box-shadow: 0px 4px 10px rgba(0,0,0, 0.3); margin-left:4px; margin-bottom:4px"></div>
            </div>      
        </div>

        <div class="table-container">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Tipologia</th>
                        <th>Punti</th>
                        <th>Punteggio</th>
                        {% if user.admin_user %}
                        <th>Azioni</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for evento in cronologia_stagione(studente, stagione_corrente) %}
                    <tr>
                        <td>{{ evento.data }}</td>
                        <td>{{ evento.attivita }}</td>
                        <td>{{ evento.modifica_punti }}</td>
                        <td>{{ evento.punti_cumulativi }}</td>
                        {% if user.admin_user %}
                        <td>
                            <form action="{{ url_for('pagine_sito.pagina_delete_event', classe_name=classe, studente_id=studente.id, stagione=stagione_corrente, event_id=evento.id) }}" method="POST" style="display:inline;">
                                <button type="submit" class="btn-delete">Elimina</button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>        

        {% if user.admin_user %}
        <!-- Trigger Button -->
        <button id="openModalBtn" style="margin-top: 20px; background-color: #00bd23; color: white; font-weight: 600; border-radius: 15px;">NUOVO EVENTO</button>        <!-- Modal -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close-btn" id="closeModalBtn">&times;</span>
                <form action="{{ url_for('pagine_sito.pagina_create_event', classe_name=classe, studente_id=studente.id, stagione=stagione_corrente) }}" method="POST" class="form-new-event">
                    <h1>Aggiungi Nuovo Evento</h1>
                    <label style="margin-botton:18px;"for="data">Data:</label>
                    <input type="date" name="data" required>
                    <label style="margin-botton:18px;"for="attivita">Tipologia:</label>
                    <input type="text" name="attivita" required>
                    <label style="margin-botton:18px;"for="modifica_punti">Punti:</label>
                    <input type="number" name="modifica_punti" required>
                    <label style="margin-botton:18px;"for="stagione">Stagione:</label>
                    <input type="number" name="stagione" required>
                    <button type="submit">Aggiungi Evento</button>
                </form>
            </div>
        </div>

        <script>
            // Get modal and button elements
            var modal = document.getElementById("myModal");
            var openModalBtn = document.getElementById("openModalBtn");
            var closeModalBtn = document.getElementById("closeModalBtn");

            // Open the modal when the button is clicked
            openModalBtn.onclick = function() {
                modal.style.display = "flex";
            }

            // Close the modal when the "x" is clicked
            closeModalBtn.onclick = function() {
                modal.style.display = "none";
            }

            // Close the modal if clicked outside of the content
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
        {% endif %}
    </div>
  
    <div class="grafico">
        <canvas id="lineChart-{{ studente.id }}" width="650" height="400"></canvas>
        <script>
            const attivita_tooltip={{ elenco_attivita(cronologia_da_user(studente),stagione_corrente)| tojson}}
            var ctx = document.getElementById("lineChart-{{ studente.id }}").getContext("2d");
            var lineChart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: {{ elenco_date(cronologia_da_user(studente), stagione_corrente) | safe }},
                    datasets: [{
                        label: "Punti di {{ studente.nominativo | safe }}",
                        data: {{ elenco_punti_cumulativi(cronologia_da_user(studente), stagione_corrente) | safe }},
                        fill: false,
                        borderColor: "rgb{{ calcola_valore_rgb(studente.squadra) }}",
                        backgroundColor: "rgb{{ calcola_valore_rgb(studente.squadra) }}",
                        lineTension: 0.1
                    }
                    ]
                },
                options: {
                    responsive: false,
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                     const index = context.dataIndex;

                                     return attivita_tooltip[index];
                                },
                            },
                        },
                    },
                },
            });
        </script>
    </div>
</body>

</html>
