<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',
                filename='css/menu_classi_styles.css')}}">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu' classi</title>
</head>
<body>

  <div class="button-list">
{%for classe in classi%}
<form method="POST" action="/classe/{{classe.classe}}"> 
  
  <div class="container">
    <button type='submit' class="button" name='bottone' value="raggiungi">
     {% if loop.index%5==1%}
      <img src="{{ url_for('static',
              filename='images/logo_classe_4.png')}}" >
      {%elif loop.index%5==2%}
      <img src="{{ url_for('static',
              filename='images/logo_classe_3.png')}}" >

     {% elif loop.index%5==3%}
      <img src="{{ url_for('static',
              filename='images/logo_classe_2.png')}}" >
       {% elif loop.index%5==4%}
      <img src="{{ url_for('static',
              filename='images/logo_classe_1.png')}}" >
      {%else%}
      <img src="{{ url_for('static',

              filename='images/logo_classe_5.png')}}" >
      {%endif%}
      <h1 style="color :black;">{{classe.classe}}</h1>
  </div>


</form>

{%endfor%}

<nav> 
    <div class="logo-name">
        <div class="logo-image">
            <img src="{{ url_for('static',
                filename='images/logo.png')}}" alt="">
        </div>

        <span class="logo_name">J.M Keynes</span>

    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="/">
                <i class="uil uil-estate"></i>
                <span class="link-name">Torna alla Home</span>
            </a></li>
            <li><a href="/admin_dashboard">
                <i class="uil uil-estate"></i>
                <span class="link-name">Torna alla dashboard</span>
            </a></li>            
     
            <br>

                
<br></li>
 </li>
      <ul class="logout-mode">
      </ul>
<h3 >  Carica un database</h3>

<li>
<form method="POST" enctype="multipart/form-data">
<label for="db" class="drop-container" id="dropcontainer"></label>
  <input type="file" id="db" name='file_db'>
  <button name='bottone' value='load_database' type="submit">Conferma i cambiamenti</button>

</li></form>

{% if error!=1%}
            <br>
       <li><a href="/db_errori">

       
                <button  style="background-color:red;">Errori nel dataset,clicca per vederli</button>
            </a></li>
            {%endif%}




        </ul>

        
        <ul class="logout-mode">
            <li><a href="/logout">
                <i class="uil uil-signout"></i>
                <span class="link-name">Esci dall' Account</span>
            </a></li>

        </li>
        </ul>
    </div>
</nav> 
</div>




</div>

 <script>
    function openPopup() {
      document.getElementById('popup-container').style.display = 'flex';
    }
    function closePopup() {
      document.getElementById('popup-container').style.display = 'none';
    }
  </script>

</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>

  <title>Pop-up Form</title>
 </head>
<body>



 
</body>
</html>
