<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Regole</title>
    <link rel="icon" href="{{ url_for('static',filename='images/logo.png')}}" type="image/icon">
        <!---link dello stylesheet di reset--->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css')}}">
        <!---link del css--->
        <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/regole.css')}}" rel="stylesheet">
        <!---link per i bottoni--->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <!---link per le icone custom--->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet">
        <!---import del font--->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    </head>
    <body>

        <header>
            <a href="https://www.isiskeynes.edu.it/" class="logo"><img src="{{ url_for('static',
                filename='images/logo.png')}}" alt=""></a>


        <ul class="navbarra"> <!---barra navigazione (puoi cambiare anche i nomi)--->
            <li><a href="/">Home</a></li>
          {% if user.is_authenticated%}
          {%if user.admin_user%}
            
            <li><a href="/admin_dashboard">Admin Dashboard</a></li>
          {% else%}
          <li><a href="/classe/{{classe_name}}">Classe {{classe_name}}</a></li>
          {%endif%}
            <li><a href="/logout">Esci dall'account</a></li>
          {%else%}
            <li><a href="/login">Accedi</a></li>
          {%endif%}
              <div class="bx bx-menu" id="menu-icon"></div> <!---icona per il menu da smartphone--->
        </header>
    
 
        
        <main class="container">

            <div>
                <section class="content">
                    <h2>SISTEMA<br>DEI PUNTI</h2>
                </section>

                <section class="content">
                    <p>Il punteggio è un metodo di giudizio deciso dal professore in base a diversi parametri prestabiliti, ognuno dei quali
                        secondo una sua logica fa ricevere o perdere punti a uno studente. Questo sistema viene utilizzato dal professore
                        per valutare l'impegno e le prestazioni dello studente nel complesso della sua attività.
                    </p>
                </section>
                
                <section class="content">
                    <h3>Valutazioni</h3>
                    <ul>
                        <li>Verifica (x3)</li>
                        <li>Interrogazione (x2)</li>
                        <li>Progetto (x2)</li>
                    </ul>
                </section>

                <section class="content">
                    <p>Queste metodologie includono anche valutazioni sul registro.
                            Il punteggio è calcolabile moltiplicando il voto ottenuto per il coefficiente presente a fianco ai metodi.</p>
                </section>
    
                <section class="content">
                    <h3>Bonus</h3>
                    <ul>
                        <li>Compiti (+1)</li>
                        <li>Intervento (+1)</li>
                        <li>Bug (+2)</li>
                        <li>Multiverso (+2)</li>
                        <li>Memoria (+2)</li>
                        <li>Lessico (+1)</li>
                        <li>Frasi (+1)</li>
                        <li>Cellulare (+1)</li>
                    </ul>

                    <section class="content">
                        <p> Il bonus Bug consiste nell'individuazione di errori messi a punto dal professore (non di tipo grammaticale); 
                            il bonus Multiverso consiste nel riuscire a collegare un argomento trattato durante le lezioni a uno che sia stato
                            proposto in un'altra materia, spiegando i motivi per cui si pensa che possa essere correlato;
                            Il bonus Memoria viene assegnato se viene data una risposta corretta a una domanda del prof che riguarda un argomento
                            fatto in classe; il bonus Lessico si guadagna riuscendo a spiegare correttamente il significato di una parola inerente al
                            programma dell'anno; il bonus Frasi viene assegnato allo studente che scrive una frase sull'apposito quaderno quando è 
                            il suo turno; il bonus Cellulare si guadagna lasciando alla cattedra il proprio telefono durante la lezione.
                            Nelle parentesi è segnato il punteggio dato da ogni azione o attività.
                        </p>
                    </section>

                    <h3>Malus</h3>
                    <ul>
                        <li>Assenza (-1)</li>
                        <li>Assenza strategica (-3)</li>
                        <li>Note disciplinari (-5)</li>
                        <li>Ansia (-3)</li>
                        <li>Cellulare (-1)</li>
                    </ul>
                </section>

                <section class="content">
                    <p> Le assenze vengono considerate strategiche (cioè atte a saltare una valutazione) a discrezione del professore.
                        Le domande ansia sono quesiti inaspettati su argomenti casuali creati apposta per generare ansia nello studente e portarlo
                        a rispondere nella maniera sbagliata; Il malus Cellulare viene assegnato quando uno studente fa uso del cellulare in classe 
                        senza autorizzazione. Nelle parentesi è segnato il punteggio dato da ogni azione o attività.
                    </p>
                </section>

                <section class="content">
                    <h3>Stagioni</h3>
                    <p>L'anno scolastico si divide in tre stagioni che vanno da settembre ad aprile (maggio è escluso perché durante questo mese
                        il prof non da valutazioni per incoraggiare il lavoro assiduo durante l'anno). Ogni stagione è contraddistinta da un tema
                        specifico.
                    </p>
                </section>

                <section class="content">
                    <h3>Squadre</h3>
                    <p>Ogni classe si divide in un numero variabile di squadre in base al numero degli studenti (solitamente 4), che gareggeranno 
                        in ogni season, alla fine della quale verranno proclamati i migliori alunni e la squadra migliore. 
                        Il punteggio delle squadre non è dato dalla somma dei punteggi dei membri, ma è ottenuta tramite compensazione.
                        Nella stagione finale per calcolare i punteggi verranno sommati quelli ottenuti nelle altre stagioni.</p>
                </section>
            </div>
            
            <div class="images">
                <section class="image">
                    <img src="{{url_for('static',filename='images/rules.png')}}">
                </section>
    
                <section class="image">
                    <img src="{{url_for('static',filename='images/strangerthings_welcome_keynes.png')}}">
                </section>
    
                <section class="image">
                    <img src="{{url_for('static',filename='images/strangerthings_demogorgone.png')}}">
                </section>

                <section class="image">
                    <img src="{{url_for('static',filename='images/teamwork.png')}}">
                </section>
            </div>

        </main>

            <!---import del js--->
            <script src="static/js/home.js"></script>
            <script src="https://unpkg.com/scrollreveal"></script>  

    </body>
</html>
