                    <table class="student-table" id="studentTable">
                        <thead>
                            <tr>

                                <th>N.</th>
                                <th>Alunno</th>
								{% for selectors in nomi_selectors.keys() %}
									<th> {{ selectors }} </th>
								{% endfor %}
								{% for checkbox in nomi_checkbox.keys() %}
									<th> {{ checkbox}} </th>
								{% endfor %}
								<th>Frase </th>
                            </tr>
                        </thead>
                        <tbody id="studentTableBody">
							{% for studente_d in stato %}
								<tr>
									<td>{{ loop.index }}</td>
									<td>{{ studente_d["studente"].nominativo }}</td>
									{% for selector,v in studente_d["valori"]["selectors"].items() %}
										<td>
											<select class="{{selector}}"
													name="{{selector}}" 
												    hx-post="/gestione_dati/selector" 
												    hx-trigger="change" 
												    hx-swap="none"
													hx-include="#dateSelector"
												   hx-vals='js:{"uid":{{studente_d["studente"].id}}}'
											>
												{% for valore in nomi_selectors[selector].keys() %}
													<option value="{{valore}}"
													{% if valore == v %}
														selected
													{% endif %}
													>{{valore}}</option>
												{% endfor %}
											</select>
										</td>
									{% endfor %}
									{% for nome_singola_checkbox,v in studente_d["valori"]["checkboxes"].items()%}
										<td><input type="checkbox" 
												   class="{{nome_singola_checkbox}}"
												   name="{{nome_singola_checkbox}}"
												   hx-post="/gestione_dati/checkbox" 
												   hx-trigger="change" 
												   hx-swap="none"
												   hx-include="#dateSelector"
												   hx-vals='js:{"{{nome_singola_checkbox}}": this.checked, "uid":{{studente_d["studente"].id}}}'

										{% if v %}
											checked
										{% endif %}
										></td>
									{% endfor %}
									<td>
										<input type="text" name="Frase" placeholder="Inserisci la frase" value="{{studente_d["valori"]["frase"]}}"
										class="text-box"
										 hx-post="/gestione_dati/frase" 
												   hx-trigger="input changed delay:500ms" 
												   hx-swap="none"
												   hx-include="#dateSelector"
												   hx-vals='js:{"Frase": this.value, "uid":{{studente_d["studente"].id}}}'


										>
									</td>
								</tr>
							{% endfor %}
				</tbody>
			</table>
