        <div class="block-voti">
          <button type="button" class="btn open-modal-btn block-voti-btn">Voti</button>
        </div>
                    <table class="student-table" id="studentTable">
                        <thead>
                            <tr>

                                <th>N.</th>
                                <th>Alunno</th>
								{% for selectors in nomi_selectors.keys() %}
									<th> {{ selectors }} </th>
								{% endfor %}
								{% for checkbox in nomi_checkbox.keys() %}
									<th> {{ checkbox}} </th>
								{% endfor %}
								<th>Frase </th>
                            </tr>
                        </thead>
                        <tbody id="studentTableBody">
							{% for studente_d in stato %}
								<tr>
									<td>{{ loop.index }}</td>
									<td>{{ studente_d["studente"].nominativo }}</td>
									{% for selector,v in studente_d["valori"]["selectors"].items() %}
										<td>
											<select class="{{selector}}"
													name="{{selector}}" 
												    hx-post="/gestione_dati/selector" 
												    hx-trigger="change" 
												    hx-swap="none"
													hx-include="#dateSelector"
												   hx-vals='js:{"uid":{{studente_d["studente"].id}}}'
											>
												{% for valore in nomi_selectors[selector].keys() %}
													<option value="{{valore}}"
													{% if valore == v %}
														selected
													{% endif %}
													>{{valore}}</option>
												{% endfor %}
											</select>
										</td>
									{% endfor %}
									{% for nome_singola_checkbox,v in studente_d["valori"]["checkboxes"].items()%}
										<td><input type="checkbox" 
												   class="{{nome_singola_checkbox}}"
												   name="{{nome_singola_checkbox}}"
												   hx-post="/gestione_dati/checkbox" 
												   hx-trigger="change" 
												   hx-swap="none"
												   hx-include="#dateSelector"
												   hx-vals='js:{"{{nome_singola_checkbox}}": this.checked, "uid":{{studente_d["studente"].id}}}'

										{% if v %}
											checked
										{% endif %}
										></td>
									{% endfor %}
									<td>
										<input type="text" name="Frase" placeholder="Inserisci la frase" value="{{studente_d["valori"]["frase"]}}"
										class="text-box"
										 hx-post="/gestione_dati/frase" 
												   hx-trigger="input changed delay:500ms" 
												   hx-swap="none"
												   hx-include="#dateSelector"
												   hx-vals='js:{"Frase": this.value, "uid":{{studente_d["studente"].id}}}'


										>
									</td>
								</tr>
							{% endfor %}
				</tbody>
			</table>
			 <div id="overlay" class="overlay">
    <div class="modal">
      <h2>Inserisci i voti</h2>
      <div class="modal-content">
        <!-- Qui andrà il contenuto futuro -->
        <table>
          <thead>
            <tr>
              <th>N.</th>
              <th>Alunno</th>
              <th>Voti</th>
            </tr>
          </thead>
          <tbody id="voteTableBody">
            {% for studente_t in stato%}
            <tr >
              <td>{{ loop.index }}</td>
              <td class="student-name">{{ studente_t["studente"].nominativo }}</td>
              <td class="vote-container-td">
                <div class="votes-container">
                  <div class="vote-row">
                    <input type="number" name="voto" min="0" max="10" step="0.5"
                      class="input-modern vote-input" placeholder="Voto">
                    <select name="nota" class="input-modern note-input">
                      <option value="Verifica">Verifica</option>
                      <option value="Interrogazione">Interrogazione</option>
                      <option value="Progetto">Progetto</option>
                    </select>
                    <div class="action-buttons">
                      <button type="button" class="btn round-btn remove-vote-row"><i class='bx bx-minus'></i></button>
                      <button type="button" class="btn round-btn add-vote-row"><i class='bx bx-plus'></i></button>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-actions">
        <button type="button" id="confirmBtn" class="btn confirm">Chiudi</button>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/table.js')}}"></script>

