@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(245.59deg, #ffffff 0%, #ffffff 23.53%, #e3e3e3 75.52%);
}

header {
    position: absolute
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15rem;
}

.container div {
    padding: 2rem;
    width: 100%;
}

.container div h1{
    font-style: italic;
}

h1 {
    font-size: 20px;
    /*font-weight: 700;*/
    color: var(--text-color);
    letter-spacing: clamp(1px, 0.5vw, 3px);
    line-height: 1.5;
    word-wrap: break-word;
}

@media screen and (max-width: 768px) {
    .logo img {
        width: 80px;
    }
    h1 {
        line-height: 1.1;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 0.5rem;
    }
    
    .container div {
        padding: 1rem;
    }
    
    .logo img {
        width: 60px;
    }
}