@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(245.59deg, #ffffff 0%, #ffffff 23.53%, #e3e3e3 75.52%);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15rem;
}

.container div {
    padding: 2rem;
    width: 100%;
}

.container div h1{
    font-style: italic;
}

h1 {
    font-size: 20px;
    /*font-weight: 700;*/
    color: var(--text-color);
    /*letter-spacing: clamp(1px, 0.5vw, 3px);*/
    line-height: 1.5;
    word-wrap: break-word;
}

@media screen and (max-width: 576px) {
    .logo img {
        width: 80px;
    }
    h1 {
        line-height: 1.1;
    }
    .container {
        padding: 0.5rem;
    }
    
    .container div {
        padding: 1rem;
    }
    
    .logo img {
        width: 60px;
    }

    #menu
    {
        position: absolute;
        right: -5vw;
        top: 6vh;
        width: 100vw;
        height: 100vh;
        margin: -100px 0 0 -50px;
        background:#f9f9f9;
        padding: 125px  0 0 50px;
        box-sizing: border-box;
        overflow-y: auto;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        overflow-y: hidden;
    }
}