@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


img {
    width: 100%;
    display: flex;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(245.59deg, #ffffff 0%, #ffffff 23.53%, #e3e3e3 75.52%);
}

header {
    position: absolute
}

.container {
    max-width: 1200px;
    margin: auto;
    padding-top: 14%;
    padding-left: 2rem;
    display: flex;
}

.content {
    max-width: 700px; /* Imposta la larghezza massima desiderata */
    overflow-wrap: break-word;
}

.content ul {
    margin-bottom: 1em;
}

.content ul li {
    list-style: disc;
    margin-left: 2.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 90px;
    line-height: 1;
    font-weight: 500;
    color: black;
    margin-bottom: 25px;
}

h3 {
    font-size: 30px;
    line-height: 1;
    font-weight: 600;
    color: black;
    margin-bottom: 0.5em;
}

p {
    font-size: 17px;
    margin-bottom: 2.5em;
}


section {
    padding: 0 0;
}

section .content {
    margin-bottom: 0.8rem;
}

.images {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.images .image {
    margin-left: 4rem;
    margin-bottom: 2rem;
}

.images img {
    max-width: 100%;
}