<!DOCTYPE html>
<html>
<head>
    <title>Elenco Studenti</title>
</head>
<body>
    <h1>Elenco degli Studenti</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Email</th>
            <th>Punti</th>

        </tr>
        {% for student in students %}
        <tr bgcolor="lightgray" align="center">
            <td>{{ student.Nome }}</td>
            <td>{{ student.Cognome }}</td>
            <td>{{ student.Email }}</td>
            <td>{{ student.Punti }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
